<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
<h2>User Registration</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% for c,m in messages %}
<p class="{{ c }}">{{ m }}</p>
{% endfor %}
{% endwith %}

<form method="POST">
<input name="username" placeholder="Username">
<input name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">
<select name="role">
<option value="User">User</option>
<option value="Admin">Admin</option>
</select>
<button>Register</button>
</form>

<a href="/login">Already have an account?</a>
</div>
